* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-style: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
@font-face {
  font-family: "ftwoods";
  src: url(graphics/FromtheWoods-Regular.woff2);
}
h1 {
  font-family: "ftwoods";
  font-size: 400%;
  text-align: center;
}
header {
  background-image: url(graphics/bg.jpg);
  background-size: 100vw;
  background-repeat: repeat-y;
}
footer {
  background-color: #2d4823;
}
